[Desktop Entry]
Type=Application
Name=nueon
GenericName=Conlang Editor
Comment=Conlang editor and creation app
Exec=nueon
Icon=nueon
Terminal=false
Categories=Utility;Education;Office;
Keywords=conlang;language;dictionary;linguistics;
StartupWMClass=nueon
